---
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <div class="h-screen flex items-center justify-center">
  <h1 class="text-5xl font-bold bg-gradient-to-r from-purple-400 via-pink-500 to-red-500 text-transparent bg-clip-text">
    Aquí irá el portafolio
  </h1>
</div>

</Layout>
